
@media(min-width:576px){

    /*VIDEO*/
    .video{
        padding: 70px 0!important;
    }


}


@media(min-width:768px){

    h2{
        font-size: 3.2rem;
    }



    /*HEADER*/
    .navbar-light .navbar-nav .nav-link{
        color: #B1B1B1;
        background-color: transparent;
        border-bottom: none;
        transition: 0.3s ease;
    }

    .navbar-light .navbar-nav .nav-link.active,
    .navbar-nav .nav-item:hover .nav-link{
        background-color: transparent;
    }



    /*HOME*/
    .home h2{
        font-size: 3rem;
    }



    /*VIDEO*/
    .video{
        padding: 100px 0!important;
    }



    /*PARALLAX*/
    .parallax article{
        padding-left: 80px!important;
        padding-right: 80px!important;
    }




}



@media(min-width:992px){
    html{
        font-size: 16px;
    }
    h2{
        font-size: 3.75rem;
    }

    .home:after,
    .video:after,
    .video:before,
    .parallax:before,
    .parallax:after,
    .porfolio:before,
    .porfolio:after{
        height: 100px;
    }



    /*HEADER*/
    .navbar-brand{
        font-size: 2.2rem;
    }



    /*HOME*/
    .home{
        padding: 250px 0px;
    }
    .home h2{
        font-size: 4rem;
    }



    /*VIDEO*/
    .video{
        padding: 150px 0!important;
    }
    .video .embed-responsive{
        width: 75%;
    }



    /*TEAM*/
    .team .container > h5{
        margin-bottom: 80px!important;
    }
    .team{
        padding: 115px 0!important;
    }


    /*PARALLAX*/
    .parallax{
        padding: 200px 0; 
    }
    .parallax article{
        padding-left: 180px!important;
        padding-right: 180px!important;
    }

    
    /*PORTFOLIO*/
    .porfolio .container h5{
        margin-bottom: 60px!important;
    }
    .porfolio{
        padding: 150px 0!important;
    }
}


@media(min-width:1200px){

    .home h2{
        font-size: 5rem;
    }


    .about-us,
    .principles{
        padding-top: 150px!important;
        padding-bottom: 150px!important;
    }

    .video{
        padding-top: 165px!important;
        padding-bottom: 165px!important;
    }

    .parallax article{
        padding-left: 250px!important;
        padding-right: 250px!important;
    }

    .parallax{
        padding: 250px 0; 
    }

    .principles article{
        padding-left: 30px;
    }
    
    .porfolio{
        padding: 175px 0!important;
    }
}




