
/*font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/



html{
    font-size: 14px;
}


img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #B1B1B1;
    font-weight: normal;
}

a, a:hover, a:focus{
    color: #B1B1B1;
    text-decoration: none;
}

h2{
    font-size: 2.7rem;
    font-weight: 100;
    color: #222222;
}

.h2-v2{
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
}

h5{
    font-size: 1.25rem;
    font-family: 'PT Sans', sans-serif;
    color: #222222;
}

.h5-v2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.text-warning{
    color: #F7CC4B;
}

.bg-warning{
    background-color: #F7CC4B;
}

.btn-outline-warning{
    color: #F7CC4B;
    border: 2px solid #F7CC4B;
    padding: 12px 38px;
    line-height: 1.2rem;
    border-radius: 0;
    transition: 0.3s ease;
}

.btn-outline-warning:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    color: #fff;
}

/*HEADER*/


.navbar-brand{
    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: #fff!important;
    letter-spacing: -2px;
    line-height: 1.7;
}
header h1{
    margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link{
    color: #222222;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .nav-item:hover .nav-link{
    color: #fff;
    background-color: #F7CC4B;
}


.navbar-light .navbar-toggler {
    border-color: #F7CC4B;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 204, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*HOME START*/

.home{
    padding: 80px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.home h2{
    font-size: 1.5rem;
}

.home:after{
    content: '';
    position: absolute;
    height: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/skew-full-bottom-ccw.png');
    background-size: 100% 100%;
}


/*VIDEO*/

.video{
    position: relative;
}

.video:before{
    content: '';
    position: absolute;
    height: 40px;
    left: 0;
    top: 0;
    right: 0;
    background-image: url('../img/skew-full-top-ccw.png');
    background-size: 100% 100%;
}

.video:after{
    content: '';
    position: absolute;
    height: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../img/skew-full-bottom-ccw.png');
    background-size: 100% 100%;
}

/*TEAM*/


.team figure{
    position: relative;
}

.team .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F7CC4B;
    display: none;
    border-radius: 50%;
}

.team .hover .fa{
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 1.5rem;
    margin: 0 5px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    transition: 0.3s ease;
}

.team .team-item:hover .hover{
    display: block;
}

.team .team-item .fa:hover{
    color: #F7CC4B;
    background-color: #fff;
}

.team-item h4 a{
    color: #222222;
    font-weight: 300;
}

.team-item:hover h4 a{
    font-family: 'PT Sans', sans-serif;
    font-weight: normal; 
}

